<article class="container">
    <section class="responsive-section">
        <ngx-dropzone
                (filesDropped)="onDrop($event)"
                accept="image/png,image/jpeg,image/jpg,image/"
                label="Click or drag images here to upload"
                maxFileSize="10485760"
                multiple="true">

        </ngx-dropzone>

    </section>
    <section class="responsive-section">

        <h3>Uploads</h3>

        <div class="images-container">
            <div *ngFor="let file of files">
                <app-upload-task (delete)="onDelete($event)" (finished)="onFinished($event)"
                                 [file]="file">

                </app-upload-task>
            </div>
        </div>


    </section>


</article>


