//
//.responsive-section {
//  float:left;
//  width: 50%;
//}
//@media screen and (max-width: 500px) {
//  .responsive-section {
//    width: 100%;
//  }
//}


.images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

