<main *ngIf="product$ | async as product">
    <section fxLayout="row" fxLayout.lt-sm="column">
        <article id="gallery" fxFlex="60" fxFlex.lt-sm="100">
            <gallery *ngIf="items" [items]="items" loadingMode="indeterminate">
                <button mat-raised-button color="accent" (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </gallery>
        </article>
        <aside fxFlex="40" fxFlex.lt-sm="100" *ngIf="seller" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="mat-headline">
                {{product.price | currency}}
                <!--todo add a currency to the user-->
            </div>
            <div>
                <button (click)="chatWith(seller.uid)" class="stretched" color="accent" mat-raised-button>
                    <mat-icon>chat</mat-icon>
                    Chat
                </button>
            </div>
            <div>
                <button class="stretched" mat-raised-button color="accent">
                    <mat-icon>phone</mat-icon>
                    {{seller.phoneNumber}}
                </button>
            </div>
            <agm-map *ngIf="showMap"
                    [latitude]="seller.coordinates.lat"
                    [longitude]="seller.coordinates.lon"
                    [fullscreenControl]="true">
                <agm-marker
                        [latitude]="seller.coordinates.lat"
                        [longitude]="seller.coordinates.lon">
                </agm-marker>
            </agm-map>
            <div *ngIf="!showMap">
                tap to show map
            </div>
        </aside>
    </section>
    <mat-divider></mat-divider>
    <section>
        <!--{{product.info}}-->
        used: used
    </section>
    <mat-divider></mat-divider>
    <section>
        <mat-card>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-content>{{product.description}}</mat-card-content>
        </mat-card>
    </section>
</main>
