.form-container {
  display: flex;
  flex-direction: column;
}

.product-container {
  //min-width: 150px;
  //max-width: 500px;
  width: 100%;
  align-content: center;
  margin: 0 auto;
}

.container-full-width {
  width: 100%;
}


.form-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
  //max-width: 600px;
  margin-top: 10px;
}
