<div fxLayoutAlign="center start">
    <mat-vertical-stepper #stepper linear fxFlex="50%" fxFlex.lt-sm="100%">
        <mat-step i18n-label="Fill product details" [stepControl]="productForm" label="Fill product details">
            <form [formGroup]="productForm">
                <ng-template i18n="Fill product details" matStepLabel>Fill product details</ng-template>
                <mat-form-field class="form-field">
                    <input #productName
                           formControlName="name"
                           matInput
                           i18n-placeholder="product name" minlength="3" placeholder="Name">
                    <mat-hint i18n="product name">
                        Product name
                    </mat-hint>
                    <mat-error *ngIf="productForm.controls['name'].invalid">
                        {{getNameErrorMessage()}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <!--                    <button mat-button (click)="chooseCategory()">Choose Category</button>-->
                    <input matInput
                           formControlName="categoryTree"
                           (click)="chooseCategory()"
                           placeholder="Choose category"
                           readonly/>

                </mat-form-field>


                <mat-form-field appearance="outline"
                                class="form-field"
                                hintLabel="Max 10 000 characters"
                                i18n-hintlabel="Max 10 000 characters">
                <textarea #productDescription
                          cdkAutosizeMaxRows="10"
                          cdkAutosizeMinRows="5"
                          cdkTextareaAutosize
                          formControlName="description"
                          i18n-placeholder="description| product description" matInput maxlength="10000"
                          placeholder="Description"></textarea>
                    <mat-hint align="end">{{productDescription.value?.length || 0}}/10000</mat-hint>
                    <mat-error *ngIf="productForm.controls['description'].invalid ">
                        {{getDescriptionErrorMessage()}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" hintLabel="Product Price" i18n-hintlabel="product price">
                    <input #productPrice
                           formControlName="price"
                           matInput
                           i18n-placeholder="product price"
                           placeholder="price"
                           type="number">
                    <mat-error *ngIf="productForm.controls['price'].hasError('required') ">
                        Product description is <strong>required</strong>
                    </mat-error>

                </mat-form-field>
                <mat-radio-group class="form-full-width" formControlName="address">
                    <mat-radio-button i18n="Use your address" value="seller">Use your address</mat-radio-button>
                    <mat-radio-button i18n="Chose another address" value="custom">Chose another address
                    </mat-radio-button>
                </mat-radio-group>
                <ng-container *ngIf="productForm.controls['address'].value !== 'seller' && product.coordinates"
                >
                    <agm-map (mapClick)="selectMarker($event.coords.lat, $event.coords.lng)"

                             [fullscreenControl]="true"
                             [latitude]="product.coordinates.lat"
                             [longitude]="product.coordinates.lng"
                             [zoom]="12"
                             class="form-full-width"
                             style="height: 300px;"
                    >
                        <agm-marker *ngIf="product.coordinates"
                                    [latitude]="product.coordinates.lat"
                                    [longitude]="product.coordinates.lng"
                                    [markerDraggable]="true"
                        >
                        </agm-marker>
                    </agm-map>

                </ng-container>

                <div style="margin: 10px;">
                    <button (click)="fillProductDetails(productName.value, productDescription.value, productPrice.value)"
                            i18n="Next"
                            mat-raised-button
                            matStepperNext>
                        Next
                    </button>

                </div>

            </form>
        </mat-step>
        <mat-step i18n-label="Upload product images" label="Upload product images">
            <div style="align-self: center">
                <ng-template i18n="Select product pictures" matStepLabel>Select product pictures</ng-template>
                <!--<app-image></app-image>-->
                <app-image-preview (filesSelected)="onFilesSelected($event)"
                (urlsSelected)="onUrlsSelected($event)"></app-image-preview>
                <!--<app-uploader (urls)="OnUploads($event)"></app-uploader>-->
            </div>

            <div>
                <button i18n="Back" mat-raised-button matStepperPrevious style="margin: 10px 10px;">Back</button>
                <button i18n="Next" mat-raised-button matStepperNext style="margin: 10px 10px;">Next
                </button>
            </div>
        </mat-step>
        <mat-step label="Create product">
            <div class="mat-typography">
                <ng-template i18n="Done" matStepLabel>Done</ng-template>
                <h3 i18n="Create product lisitng">Create product listing:</h3>
                <mat-progress-spinner
                        *ngIf="uploading"
                        mode="indeterminate"></mat-progress-spinner>
                <button (click)="uploadProduct()"
                        *ngIf="!uploading"
                        i18n="Upload | Upload product listing button"
                        mat-raised-button>
                    Uplaod product listing
                </button>
                <div>
                    <button i18n="Back" mat-raised-button matStepperPrevious style="margin: 10px 10px;">Back</button>
                    <button (click)="stepper.reset()" i18n="Reset" mat-raised-button style="margin: 10px 10px;">Reset
                    </button>
                </div>
            </div>
        </mat-step>
    </mat-vertical-stepper>
    <div fxFlex="3%" class="divider" fxHide.lt-sm>
        <mat-divider [vertical]="true"></mat-divider>
        <!--        todo divider has 0 height-->
    </div>
    <div fxFlex="47%" fxHide.lt-sm fxLayoutAlign="center center" style="padding: 30px">
        <app-product-preview [product]="previewProduct$ | async"></app-product-preview>
    </div>
</div>
