<ng-container *ngIf="chat$ | async as chat">
    <article>


        <section #chatBox class="chat">


            <div *ngFor="let msg of chat.messages; trackBy: trackByCreated" class="msg animated zoomInUp"
                 style="width: 100%; position: relative">

                <div class="user" style="width: 10%">
                    <img [src]="msg.user?.photoURL || 'assets/unicorn.svg'" style="width: 100%"/>
                    <div style="font-size: 0.5em;"><span
                            class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span></div>

                    <!--<button *ngIf="chats.uid === user.uid || msg.uid === user.uid" class="button is-danger is-small" (click)="cs.deleteMessage(chats, msg)">Delete</button>-->

                </div>
                <div style="width: 90%">
                    <p style="word-wrap: break-word; width: 100%">{{ msg.content }}</p>
                </div>


            </div>


        </section>
        <section style="position: fixed; bottom: 0; left:5%; right: 5%;">
            <mat-form-field appearance="outline" class="textarea">
                <textarea #productDescription (keydown.enter)="submit(chat.id)"
                          [(ngModel)]="newMsg"
                          autosize
                          matInput
                          maxlength="100" placeholder="Enter message here">
                </textarea>
                <mat-hint align="end">{{productDescription.value?.length || 0}}/100</mat-hint>

            </mat-form-field>

            <button (click)="submit(chat.id)" [disabled]="!newMsg" mat-raised-button>Send</button>

        </section>

    </article>
</ng-container>

