<ais-instantsearch
        [config]="searchConfig">

    <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer class="drawer"
                    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                    [mode]="(isHandset$ | async) ? 'over' : 'side'"
                    [opened]="!(isHandset$ | async)">
            <mat-toolbar color="primary">Menu</mat-toolbar>

            <ais-range-slider
                    [min]="0"
                    [max]="1500"
                    attribute="price">
            </ais-range-slider>
<!--            <ais-range-input-->
<!--                    [min]="0"-->
<!--                    [max]="1500"-->
<!--                    attribute="price">-->
<!--            </ais-range-input>-->
        </mat-drawer>

        <mat-drawer-content>
            <mat-toolbar color="primary">
                <button
                        type="button"
                        aria-label="Toggle drawer"
                        mat-icon-button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <ais-search-box></ais-search-box>
            </mat-toolbar>
            <ais-infinite-hits>
                <ng-template let-hits="hits" let-results="results" let-refine="showMore" let-end="isLastPage">
                    <app-products-view *ngIf="hits.length" [products]="hits" (more)="refine()" [theEnd]="end"></app-products-view>
                </ng-template>
            </ais-infinite-hits>
        </mat-drawer-content>
    </mat-drawer-container>

<!--</ais-instantsearch>-->
<!--<ais-instantsearch [config]="searchConfig">-->
<!--    <ais-search-box></ais-search-box>-->
<!--    <ais-range-input-->
<!--        [min]="0"-->
<!--        [max]="1500"-->
<!--        attribute="price">-->
<!--    </ais-range-input>-->
<!--</ais-instantsearch>-->
