<ais-instantsearch
        [config]="searchConfig">

    <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer class="drawer"
                    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                    [mode]="(isHandset$ | async) ? 'over' : 'side'"
                    [opened]="!(isHandset$ | async)">
            <mat-toolbar color="primary">Menu</mat-toolbar>

            <div id="algolia-widgets">
                <ais-current-refinements></ais-current-refinements>
                <ais-range-slider
                        [tooltips]="true"
                        [max]="1500"
                        [min]="0"
                        attribute="price">
                </ais-range-slider>
                <ais-hierarchical-menu
                        [attributes]="['categories.lvl0', 'categories.lvl1']"
                >
                </ais-hierarchical-menu>
            </div>
        </mat-drawer>

        <mat-drawer-content>
            <mat-toolbar color="primary">
                <button
                        type="button"
                        aria-label="Toggle drawer"
                        mat-icon-button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <ais-search-box></ais-search-box>
            </mat-toolbar>
            <ais-infinite-hits>
                <ng-template let-end="isLastPage" let-hits="hits" let-refine="showMore" let-results="results">
                    <app-products-view (more)="refine()" *ngIf="hits.length" [products]="hits"
                                       [theEnd]="end"></app-products-view>
                </ng-template>
            </ais-infinite-hits>
            <!--todo add no results template-->
        </mat-drawer-content>
    </mat-drawer-container>

</ais-instantsearch>
