.drawer-container {
  height: calc(100% - 64px);
}

.drawer {
  width: 200px;
}

.drawer .mat-toolbar {
  //background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

ais-search-box {
  margin: 0 auto;
}
