<ais-instantsearch
        [config]="searchConfig">
    <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer class="drawer"
                    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                    [mode]="(isHandset$ | async) ? 'over' : 'side'"
                    [opened]="!(isHandset$ | async)">
            <mat-toolbar color="primary">Menu</mat-toolbar>

            <!--            <ais-range-slider-->
            <!--                    [min]="0"-->
            <!--                    [max]="1500"-->
            <!--                    [precision]="2">-->
            <!--            </ais-range-slider>-->
        </mat-drawer>

        <mat-drawer-content>
            <mat-toolbar color="primary">
                <button
                        type="button"
                        aria-label="Toggle drawer"
                        mat-icon-button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <ais-search-box (change)="searchChanged($event)"></ais-search-box>
            </mat-toolbar>
            <!-- Add Content Here -->
<!--            <ais-hits *ngIf="showResults">-->
<!--                <ng-template let-hits="hits">-->

<!--                    <ng-container *ngIf="showResults">-->
<!--                        <app-products-view [products]="hits" [theEnd]="theEnd"-->
<!--                                           (nextBatchEmitter)="nextOffset($event)"></app-products-view>-->
<!--                    </ng-container>-->
<!--                    &lt;!&ndash;                        <pre>{{hits | json}}</pre>&ndash;&gt;-->


<!--                    &lt;!&ndash;                        <ng-container *ngIf="infinite$ | async as products">&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </ng-container>&ndash;&gt;-->

<!--                </ng-template>-->
<!--            </ais-hits>-->
            <ng-container *ngIf="infinite$ | async as products">
                <app-products-view [products]="products" [theEnd]="theEnd"
                                   (more)="nextPage()"></app-products-view>
            </ng-container>
        </mat-drawer-content>
    </mat-drawer-container>

</ais-instantsearch>
