.drawer-container {
  height: calc(100% - 64px);
}

.drawer {
  width: 300px;
}

.drawer .mat-toolbar {
  //background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

ais-search-box {
  margin: 0 auto;
}

::ng-deep .ais-InfiniteHits {
  height: calc(100% - 64px);
}

::ng-deep .ais-RangeSlider {
  margin: 40px;
}

#algolia-widgets {
  padding: 10px;
}
