.auth-container {
  width: 500px;
  max-width: 100%;
  margin: 10px auto;
}

::ng-deep ngx-auth-firebaseui .mat-button-wrapper { /* Some of the icon buttons in the ngx aren't centered properly */
  vertical-align: middle;
}
