<mat-toolbar color="primary" class="mat-elevation-z7">
    <span routerLink="/">logo</span>

    <span fxFlex></span>

    <!--<div class="appbar-actions" fxLayout fxLayoutAlign="space-around center">-->
    <button class="spaced-out-button" *ngIf="auth.user$ | async"
            mat-raised-button
            i18n="add"
            routerLink="/products/create">
        <mat-icon>add</mat-icon>
        Add
    </button>

    <div class="providers-container">
        <div *ngIf="auth.user$ | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>

        <!-- User NOT logged in -->
        <ng-template #guest>
            <ngx-auth-firebaseui-providers [providers]="['google']"
                                           [theme]="theme.MINI_FAB"></ngx-auth-firebaseui-providers>
        </ng-template>


        <!-- User logged in -->
        <ng-template #authenticated>
            <div *ngIf="auth.user$ | async as user">
                <button [matMenuTriggerFor]="menu" mat-button>
                    <img [src]="user.photoURL" alt="avatar" class="avatar"/>

                </button>
                <mat-menu #menu="matMenu">
                    <button i18n="settings" mat-menu-item routerLink="settings">Settings</button>

                    <button *ngIf="auth.getSnapshotUser().roles?.seller"
                            i18n="orders received"
                            mat-menu-item
                            routerLink="orders/seller">
                        Orders received
                    </button>
                    <button *ngIf="auth.getSnapshotUser().roles?.buyer"
                            i18n="orders sent"
                            mat-menu-item
                            routerLink="orders/buyer">
                        Orders sent
                    </button>

                    <button (click)="auth.signOut()"
                            i18n="log out"
                            mat-menu-item
                    >Log out
                    </button>
                </mat-menu>
            </div>
        </ng-template>
    </div>
    <!--</div>-->
</mat-toolbar>
<!-- Add Content Here -->
<ng-content></ng-content>
<!--todo rename to appbar-->
