<ng-container *ngIf=" auth.user$ | async as user">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title i18n="your orders">
                Your orders
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let order of displayOrders" style="display: flex; flex-wrap: wrap">
                <mat-card [routerLink]="['/products', order.product.id]"
                          class="card">
                    <mat-card-header>
                        <mat-card-title *ngIf="order.person" i18n="you ordered from">
                            You ordered from {{order.person.displayName}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{order.product.name}}
                        </mat-card-subtitle>
                        <div [style.backgroundImage]="'url(' + order.product.urls[0] + ')'"
                             [style.backgroundSize]="'cover'"
                             mat-card-avatar
                        ></div>
                    </mat-card-header>
                    <mat-card-content class="limited">
                        <p>{{order.product.description}}</p>
                    </mat-card-content>
                </mat-card>
            </ng-container>

        </mat-card-content>
    </mat-card>
</ng-container>
