<ng-container *ngIf=" auth.user$ | async as user">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title i18n="your orders">
                Your orders
            </mat-card-title>
        </mat-card-header>
        <mat-card-content
                fxLayout="row wrap"
                fxLayoutAlign="space-evenly center">
            <mat-card
                    *ngFor="let order of displayOrders"
                    [routerLink]="['/products', order.product.id]"
                    class="card"
                    fxFlex="25%"
                    fxFlex.md="33%"
                    fxFlex.sm="50%"
                    fxFlex.xs="100%">
                <mat-card-header>
                    <mat-card-title *ngIf="order.person" i18n="you ordered from">
                        You ordered from {{order.person.displayName}}
                    </mat-card-title>
                    <div [style.backgroundImage]="'url(' + order.product.urls[0] + ')'"
                         [style.backgroundSize]="'cover'"
                         mat-card-avatar
                    ></div>
                </mat-card-header>
                <mat-card-content>
                    {{order.product.name}}
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</ng-container>
