<mat-horizontal-stepper>
    <mat-step [stepControl]="categoryControl">
        <ng-template matStepLabel>Lvl 0</ng-template>

<!--        <div *ngIf="allCategories; else loadingSpinner" fxLayout="row wrap" fxLayoutAlign="space-between stretch">-->
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
            <mat-card *ngFor="let category of allCategories" (click)="chooseCategoryLvl0(category)"
                      fxFlex="22%" fxFlex.md="30%" fxFlex.sm="40%" fxFlex.xs="100%">
                <mat-card-header>
                    <mat-card-title>{{category.name}}</mat-card-title>
                </mat-card-header>
                <!--        <img matCardImage src="Card wide image source">-->
                <!--        todo add an image as an icon-->
            </mat-card>
        </div>
        <form [formGroup]="categoryControl">
            <label>
                <input hidden formControlName="categoryLvl0"/>
            </label>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Lvl 1</ng-template>
        <div *ngIf="selectedCategory" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
            <mat-card *ngFor="let subCategory of selectedCategory.subCategories" (click)="chooseCategoryTree(subCategory)"
                      fxFlex="22%" fxFlex.md="30%" fxFlex.sm="40%" fxFlex.xs="100%">
                <mat-card-header>
                    <mat-card-title>{{subCategory}}</mat-card-title>
                </mat-card-header>
                <!--        <img matCardImage src="Card wide image source">-->
                <!--        todo add an image as an icon-->
            </mat-card>
        </div>
        <div>
            <button mat-button matStepperPrevious>Previous</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


<!--<ng-template #loadingSpinner>-->
<!--    <div fxLayout fxLayoutAlign="center center">-->
<!--        <mat-spinner></mat-spinner>-->
<!--    </div>-->
<!--</ng-template>-->
