<mat-form-field class="chip-list">
    <mat-chip-list #chipList>
        <mat-chip (removed)="remove(category)" *ngFor="let category of categories"
                  [removable]="removable" [selectable]="selectable">
            {{category}}
            <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input (matChipInputTokenEnd)="add($event)"
               [matChipInputAddOnBlur]="addOnBlur"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               placeholder="Add categories">
    </mat-chip-list>
</mat-form-field>
