<div *ngIf=" auth.user$ | async as user">
    <h1>Your chats</h1>
    <div *ngFor="let chat of userChats$ | async">
        <mat-card *ngIf="seller">

            <mat-card-actions>
                <mat-card-title>
                    Chat with {{seller.displayName}}
                </mat-card-title>
                <img [src]="seller.photoURL" mat-card-image>
                <mat-card-content>
                    {{chat.messages[chat.messages.length - 1]}}
                </mat-card-content>
                <a [routerLink]="chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>

            </mat-card-actions>

        </mat-card>

    </div>
</div>
