<mat-sidenav-container *ngIf="auth.user$ | async as user" class="sidenav-container">
    <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)"
                 class="sidenav"
                 fixedInViewport="true"
    >
        <mat-nav-list>
            <ng-container *ngIf="(chats$ | async) as chats">
                <ng-container *ngIf="(users$ | async) as users">
                    <div (click)="onSelect(chat)" *ngFor="let chat of chats; index as i">
                        <mat-card style="max-width: 300px;">
                            <mat-card-header>
                                <div [style.backgroundImage]="'url(' + users[i].photoURL + ')'"
                                     [style.backgroundSize]="'cover'"
                                     mat-card-avatar
                                ></div>
                                <mat-card-title>
                                    {{users[i].displayName}}
                                </mat-card-title>
                                <!--TODO: add delete chat button-->
                                <mat-card-subtitle style="max-width: 150px;">
                                    <!--{{ chat.messages.length }} Messages-->
                                    <p class="latest-message">{{chat.messages[chat.messages.length - 1].content}}</p>
                                </mat-card-subtitle>
                            </mat-card-header>
                        </mat-card>
                    </div>

                </ng-container>
            </ng-container>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat *ngIf="selectedChat" [chat]="selectedChat"></app-chat>

    </mat-sidenav-content>
</mat-sidenav-container>
