//img {
//  border-radius: 50%;
//  display: block;
//  margin: auto;
//}
//
//button {
//  margin: 10px;
//}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.drawer-container {
  height: 100%;
}

.drawer {
  width: 200px;
}

.drawer .mat-toolbar {
  /*background: inherit;*/
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: auto;
}

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


//.header-image {
//  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//  background-size: cover;
//}
