<ng-container *ngIf="infinite$ | async as products">


    <cdk-virtual-scroll-viewport (scrolledIndexChange)="nextBatch($event, (products[products.length - 1].name))"
                                 itemSize="200">

        <mat-list>
            <mat-list-item *cdkVirtualFor="let product of products; let i = index; trackBy: trackByIdx"
                           class="animated fadeIn"
                           (click)="openProductDetailBottomSheet(product)">
                <div fxLayout fxLayoutAlign="center center" class="item-container">
                    <div fxFlex="30%">
                        <img [src]="product.urls" alt="product image" class="product-image"/>
                    </div>
                    <div fxFlex="15%">
                        <p>{{product.price}}</p>
                    </div>
                    <div fxFlex="0" style="padding-left: 40px; text-align: left">
                        <div>
                            <h2>{{product.name}}</h2>
                        </div>
                        <div>
                            #product, #buyable
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
    </cdk-virtual-scroll-viewport>
</ng-container>
