<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let product of products">

            <td><a routerLink="/product/{{product.id}}">{{product.name}}</a></td>

            <td>{{product.price}}</td>
            <td>id: {{product.id}}</td>

        </tr>
    </table>
</div>
<div>
    <label>Product name:
        <input #productName/>
    </label>
    <br>
    <label>Description:
        <textarea #productDescription placeholder="Enter product description here">

    </textarea>

    </label>
    <br>
    <label>Product price:
        <input #productPrice/>
    </label>
    <br>

    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(productName.value, productDescription.value, productPrice.value);
   productName.value=''; productDescription.value='';productPrice.value=''; ">
        Add product
    </button>
</div>
