cdk-virtual-scroll-viewport {
  height: calc(100% - 64px);

  mat-list-item {
    height: 200px;
  }
}

.spacer {
  flex: auto;
}

div.item-container {
  width: 100%;
  & > div {
    text-align: center;
  }
}

.example-container {
  max-width: 100%;
}

.product-image {
  width: 100%;
}
