<main *ngIf="product">
    <section fxLayout="row" fxLayout.lt-sm="column">
        <article fxFlex="60" fxFlex.lt-sm="100" id="gallery">
            <gallery *ngIf="items" [items]="items" loadingMode="indeterminate">
                <button (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})" color="accent"
                        mat-raised-button>
                    <mat-icon>fullscreen</mat-icon>
                </button>
            </gallery>
        </article>
        <aside *ngIf="seller" fxFlex="40" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="start stretch">
            <div class="mat-headline">
                {{product.price | currency}}
                <!--todo add a currency to the user-->
            </div>
            <ng-container *ngIf="(auth.user$ | async)">
                <div *ngIf="auth.isSeller() && !auth.isOwnerOf(product)">
                    <button (click)="openDialog()"
                            class="stretched"
                            color="accent"
                            i18n="order"
                            mat-raised-button>
                        <mat-icon>shopping_cart</mat-icon>
                        Order
                    </button>
                </div>
                <div *ngIf="auth.isOwnerOf(product)">
                    <button
                            class="stretched"
                            color="accent"
                            i18n="edit listing"
                            mat-raised-button>
                        <mat-icon>edit</mat-icon>
                        Edit listing
                    </button>

                </div>
                <div>
                    <button *ngIf="auth.user$ | async"
                            class="stretched"
                            color="accent"
                            i18n="Chat"
                            mat-raised-button
                            (click)="openChat(product.sellerUid)">
                        <mat-icon>chat</mat-icon>
                        Chat
                    </button>
                </div>
            </ng-container>
            <div>
                <button class="stretched" color="accent" mat-raised-button>
                    <mat-icon>phone</mat-icon>
                    {{seller.phoneNumber}}
                </button>
            </div>

            <div *ngIf="auth.isOwnerOf(product)">
                <button
                        class="stretched"
                        color="warn"
                        i18n="delete listing"
                        mat-raised-button
                        (click)="deleteProduct(product)"
                >
                    <mat-icon>delete_forever</mat-icon>
                    Delete listing
                </button>
            </div>
            <agm-map *ngIf="showMap"
                     [longitude]="seller.coordinates.lng"
                     [fullscreenControl]="true"
                     [latitude]="seller.coordinates.lat"
                     [zoom]="10">
                <agm-marker
                        [latitude]="seller.coordinates.lat"
                        [longitude]="seller.coordinates.lng">
                </agm-marker>
            </agm-map>
            <div *ngIf="!showMap">
                tap to show map
            </div>
        </aside>
    </section>
    <mat-divider></mat-divider>
    <section>
        <!--{{product.info}}-->
        used: used
    </section>
    <mat-divider></mat-divider>
    <section>
        <mat-card>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-content>{{product.description}}</mat-card-content>
        </mat-card>
    </section>
</main>
