<ng-container *ngIf=" auth.user$ | async as user">
    <mat-card class="content">
        <mat-card-header>
            <mat-card-title i18n="Ordered from you">
                Ordered from you
            </mat-card-title>
        </mat-card-header>
        <mat-card-content
                fxLayout="row wrap"
                fxLayoutAlign="space-evenly center">
            <mat-card
                    *ngFor="let order of displayOrders"
                    [routerLink]="['/products', order.product.id]"
                    class="card"
                    fxFlex="25%"
                    fxFlex.md="33%"
                    fxFlex.sm="50%"
                    fxFlex.xs="100%">
                <mat-card-header>

                    <mat-card-title *ngIf="order.person" i18n="ordered from you">
                        {{order.person.displayName}} ordered from you
                    </mat-card-title>
                    <!--<div [style.backgroundImage]="'url(' + order.product.urls[0] + ')'"-->
                    <!--[style.backgroundSize]="'cover'"-->
                    <!--mat-card-avatar-->
                    <!--&gt;</div>-->
                </mat-card-header>
                <img [src]="order.product.urls[0]" alt="Product photo" mat-card-image>

                <mat-card-content>
                    <ul>
                        <li><span>Product: {{order.product.name}}</span></li>
                        <li><span>Name of buyer: {{order.person.firstName + ' ' + order.person.lastName}}</span></li>
                        <li><span>Buyer address: {{order.person.address}}</span></li>
                    </ul>

                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</ng-container>
