
.card {
  max-width: 300px;
  //max-height: 300px;
  //overflow: hidden;
  //text-overflow: ellipsis;
  margin: 10px 10px;
  align-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper {
  margin: 10px auto;
}

.limited {
  overflow: hidden;
  text-overflow: ellipsis;
}
