<div *ngIf="auth.user$ | async as user" class="wrapper">
    <form (ngSubmit)="registerSeller(company.value, firstName.value,
                        lastName.value, phoneNumber.value, address.value)"
          [formGroup]="addressForm" novalidate>
        <mat-card class="shipping-card">
            <mat-card-header>
                <div *ngIf=" user.roles.seller === true;then sellerSettingsTitle;else sellerRegistrationTitle">

                </div>
                <ng-template #sellerSettingsTitle>

                    <mat-card-title>Seller settings</mat-card-title>
                </ng-template>
                <ng-template #sellerRegistrationTitle>

                    <mat-card-title>Seller registration</mat-card-title>
                </ng-template>

            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input #company formControlName="company" matInput placeholder="Company">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input #firstName formControlName="firstName" matInput placeholder="First name">
                            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
                                First name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input #lastName formControlName="lastName" matInput placeholder="Last name">
                            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
                                Last name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width" hintLabel="Your number">
                            <input #phoneNumber formControlName="phoneNumber"
                                   matInput placeholder="eg. 0886..." type="number">
                            <mat-error *ngIf="addressForm.controls['phoneNumber'].hasError('required')">
                                Phone number is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <textarea #address formControlName="address" matInput placeholder="Address"></textarea>
                            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="map-container">
                    <agm-map
                            (mapClick)="selectMarker($event.coords.lat, $event.coords.lng)"
                            [fullscreenControl]="true"
                            [latitude]="latitude"
                            [longitude]="longitude"

                    >
                        <agm-marker
                                [latitude]="selectedMarker.latitude"
                                [longitude]="selectedMarker.longitude"
                                [markerDraggable]="true"
                        >
                        </agm-marker>
                    </agm-map>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-radio-group formControlName="delivery">
                            <mat-radio-button value="standard">Standard Shipping</mat-radio-button>
                            <mat-radio-button value="free">Free Shipping</mat-radio-button>
                            <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
                            <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <!--<button mat-raised-button color="primary" type="submit">Submit</button>-->
                <button [disabled]="!addressForm.valid" class="full-width" color="primary" mat-raised-button
                        type="submit">
                    Register as seller
                </button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
