/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');

html, body {
  height: 100%;
}

body, *:not(mat-icon) {
  margin: 0;
  font-family: 'Comfortaa', cursive !important;
}

//.bottomSheetGlobal {
//  padding: 0 !important;
//}
