/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa&subset=cyrillic');

html, body {
  height: 100%;
}

body, *:not(mat-icon) {
  margin: 0;
  font-family: 'Comfortaa', sans-serif !important;
}

* {
  box-sizing: border-box;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #ffffff;
    opacity: 0.9 !important;
  }
}

//.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
//  transform: none !important;
//}
.wrapper {
  width: 70%;
  margin: 10px auto;
}

