@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

::ng-deep mat-bottom-sheet-container {
  padding: 0 !important;
}

.preview-description-wrapper {
  //@include multiLineEllipsis($lineCount: 4);
  display: block;
  text-align: justify;
}

@media (max-width: 600px) {
  .preview-description-wrapper {
    @include multiLineEllipsis($lineCount: 4);
  }
}
@media (min-width: 600px) {
  .preview-description-wrapper {
    @include multiLineEllipsis($lineCount: 8);
  }
}

.preview-image-wrapper {
  //grid-area: image;
  img {
    max-width: 100%;
    height: 26vh;
    object-fit: cover;
    display: block;
  }
}

.preview-title-wrapper {
  margin-bottom: calc(1em / 2);
  //grid-area: title;
}

.preview-options-wrapper {
  //grid-area: options;
}

.preview-section {
  padding: 1em;
  max-width: 450px !important;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .preview-section {
    width: 100%;
    max-width: none !important;
  }
}

.preview-mat-card-image {
  max-height: 45vh;
  object-fit: cover;
}

//.my-grid {
//  display: grid;
//  grid-template-areas: "image image image title       title       title       title"
//                       "image image image description description description description"
//                       "image image image description description description description"
//                       "image image image .           .           .           ."
//                       "image image image options     options      options     options" ;
//  grid-auto-rows: 1fr;
//}
//

